<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./example.css">
</head>
<body>
<h1>
    Место для командной работы
</h1>
<p>Интерактивная онлайн-доска для совместной работы команд — в любое время, в любом месте.</p>
<br>
<form action="https://www.youtube.com/results" method="get">
    <label for="query">Введите запрос</label>
    <input type="text" placeholder="enter your query" id="query" name="search_query" required>
    <button type="submit">
        Искать на YouTube
    </button>
    <label for="agree">Согласен с обработкой данных</label>
    <input type="checkbox" name="agree" id="agree">
    <div>
        <label for="topic">Тематика</label>
        <select name="topic" id="topic">
            <option value="1">Все</option>
            <optgroup label="Популярное">
                <option value="2">Спорт</option>
                <option value="3">Новости</option>
            </optgroup>
        </select>
    </div>
    <div>
        <label for="volume">Громкость</label>
        <input type="range" name="volume" id="volume">
    </div>
    <div>
        <label for="num">Оценка</label>
        <input type="number" name="num" min="1" max="10" step="1">
    </div>
    <div>
        <label for="text">Комментарий</label>
        <textarea name="text" id="text" cols="100" rows="10"></textarea>
    </div>

</form>

<h2>
    Работайте вместе, где бы вы ни находились
</h2>
<p>
    Работая в офисе, удалённо или в гибридном формате, с Miro ваша команда может общаться, сотрудничать и совместно
    заниматься творчеством в одном пространстве, из любой точки мира.
</p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>