<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<META HTTP-EQUIV="Cache-control" CONTENT="NO-CACHE, must-revalidate">

<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
<meta http-equiv="Last-Modified" content="Mon, 26 Jul 1997 05:00:00 GMT">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="Cache-Control" content="post-check=0,pre-check=0">
<meta http-equiv="Cache-Control" content="max-age=0">
<meta http-equiv="Pragma" content="no-cache">

<html lang="ru">
<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<head>
  <title>Вход в систему администрирования</title>
</head>
<body>
  <h1>Вход в систему анкетирования</h1>
  <form action="" method="POST">
      <table>
          {% csrf_token %}
          {{ form.as_table }}
      </table>
      <p><input type="submit" value="Начать администрирование"></p>
  </form>
</body>
</html>
