<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<META HTTP-EQUIV="Cache-control" CONTENT="NO-CACHE, must-revalidate">

<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
<meta http-equiv="Last-Modified" content="Mon, 26 Jul 1997 05:00:00 GMT">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="Cache-Control" content="post-check=0,pre-check=0">
<meta http-equiv="Cache-Control" content="max-age=0">
<meta http-equiv="Pragma" content="no-cache">

<html lang="ru">
<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<head>
  <title>Проба пера</title>
  <style>
      .myfield{
          border:1px solid #ccc; 
          border-radius:5px;
          height:25px;
          width:1000px;
          margin: 10px 10px 10px 0;
      }
  </style>
</head>

<body>
  <h1>ТЕСТОВОЕ ЗАДАНИЕ ОТКРЫТОЙ ФОРМЫ С РАЗВЕРНУТЫМ ОТВЕТОМ</h1>
  <h2>Перечислите физические величины, которые описывают кинематику вращательного движения твердого тела вокруг неподвижной оси</h2>
  <form action="" method="POST">
      <table>
          {% csrf_token %}
          {{ form.as_table }}
      </table>
      <p><input type="submit" value="Проверить правильность выполнения тестового задания"></p>
  </form>
</body>
  <h3>Момент силы, момент инерции, момент импульса, угловая скорость, угловое ускорение.</h3>
  <h3>Угловое перемещение, угловая скорость, угловое ускорение.</h3>
  <h3>Момент инерции, угловая скорость, угловое ускорение, момент силы относительно неподвижной точки.</h3>
  <h3>Вектор угловой скорости, время, кол-во оборотов, частота, период, вектор элемент поворота тела.</h3>
  <h3>Вектор элементарного поворота тела, вектор угловой скорости, вектор углового ускорения, период, частота.</h3>
  <h3>Масса, время, работа, потенц. энергия, кинет. энергия, импульс, скорость, радиус, углов. скорость, мера инертности, момент импульса матер. точки.</h3>
  <h3>Скорость, ускорение, угол поворота.</h3>
  <h3>Угловая скорость, вектор углового перемещения, угловое ускорение, мгновенная угловая скорость.</h3>
  <h3>Угловая скорость, угловое ускорение, частота вращения, линейная скорость.</h3>
  <h3>Кин. энергия, импульс, скорость, момент инерции, момент импульса, масса.</h3>
  <h3>Угловая скорость, поворот тела, угловое ускорение, период, частота.</h3>
  <h3>Путь, перемещение, угол поворота, угловая скорость, угловое ускорение, период, частота, тангенциальное ускорение, нормальное ускорение.</h3>
  <h3>Угловая скорость, угловое ускорение, угол поворота. Период, частота, время, число оборотов. Скорость.</h3>
</html>
